<html lang="en" class="w-screen h-screen">
    <head>
        <meta charset="UTF-8" />
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <title>Stats</title>
    </head>

    <body class="flex flex-col justify-center mx-10 mt-10 xl:max-w-6xl xl:mx-auto">
        <header class="w-full p-3 flex flex-row justify-between items-center bg-blue-100 border-t-2 border-r-2 border-l-2 border-indigo-300 rounded-t-2xl">
            <nav class="w-full pl-5 pr-5 flex flex-row justify-between text-2xl">
                <div>
                    <a class="pl-2" href="/Dashboard">Dashboard</a>
                    <a class="pl-2" href="#">Stats</a>
                </div>
            
                <div>
                    <a class="pl-2" href="/logout">Logout</a>
                </div>
            </nav>
        </header>
        <main class="w-full px-3 py-32  flex flex-row border-b-2 border-r-2 border-l-2 border-indigo-300 rounded-b-2xl">
            <section class="w-2/3 flex flex-col items-center">
                
            </section>
        </main>
    </body>
    <script src="https://cdn.socket.io/4.2.0/socket.io.min.js"
    integrity="sha384-PiBR5S00EtOj2Lto9Uu81cmoyZqR57XcOna1oAuVuIEjzj0wpqDVfD0JA9eXlRsj"
    crossorigin="anonymous">
    </script>
    <script src="js/sockets.js"></script>
</html>